<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Profile", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create", new_user_character_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Characters", user_characters_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item d-flex align-items-center">
            <div class="navbar-login-button">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </div>
            <div class="navbar-logout-button">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </div>
          </li>
        <% end %>
      </ul>
      <span class="navbar-text">
        Create your next Hero today 
      </span>
    </div>
  </div>
</nav>
