<div class="container">
  <h3><%= @character.name %></h3>
  <ul>
    <li>Race: <%= @character.race %></li>
    <li>Class: <%= @character.character_class %></li>
    <li>Age: <%= @character.age %></li>
    <li>Height: <%= @character.height %></li>
    <li>Weight: <%= @character.weight %></li>
    <li>Alignment: <%= @character.alignment %></li>
    <li>Background: <%= @character.background %></li>
    <li>Gender: <%= @character.gender %></li>
  </ul>
  <div class="links">
    <%= link_to "Back to index", user_characters_path %>
  </div>
</div>
