<div class="container">
  <h3><%= @character.name %></h3>
  <ul>
    <li><%= @character.race %></li>
    <li><%= @character.character_class %></li>
    <li><%= @character.age %></li>
    <li><%= @character.height %></li>
    <li><%= @character.weight %></li>
    <li><%= @character.alignment %></li>
    <li><%= @character.background %></li>
    <li><%= @character.gender %></li>
  </ul>
</div>
